{% extends 'main/base.html' %}
{% block title %}
Кабинет пользователя
{% endblock  %}

{% block content%}
<h1>Кабинет пользователя</h1>
<div class="media text-muted pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64"  src="{{user.profile.img.url}}">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
            {% if user.email %}
        <b>Email:</b> {{ user.email }}
             {% endif %}
      </p>
    </div>
<form method="post" enctype="multipart/form-data" class="form-register mt-4">
    {% csrf_token %}
    {{updateuser.as_p}}
    {{profileform.as_p}}
    <button class="btn btn-outline-warning" type="submit">Обновить</button>
</form>



{% endblock %}

 {% block aside%}
<h4 class="mt-2">Interesting facts</h4>
<img src="https://i03.fotocdn.net/s119/9c4a25d1afe85016/public_pin_l/2730300326.jpg" class="img-thumbnail">
<button class="btn btn-warning">See more</button>
<img src="https://pic.rutubelist.ru/video/17/b1/17b100a0bcbc6e5e8d11101cde21aca7.jpg" class="img-thumbnail mt-4">
<button class="btn btn-warning">See more</button>
   {% endblock %}